*{
    margin: 0;
    padding:0;
}
.navbar{
    background-color: rgba(0, 0, 0, 0.3) !important;
    color: black !important;
}
.nav-item{
    margin-left: 40px;
}
.btn{
    width:168px !important;
    transition: all o.4s ease;
}
.btn:hover{
    transform: translateY(-5px);
}
/* .nav-item a:hover{
    background-color: navajowhite;
    color: brown !important;
} */
.icons{
   float: left;
}
.icon_pic{
    margin: 10px;
    margin-left: 21px;
}
.carousel-caption{
    top:20%;
    color: black !important;
    font-family: 'Courier New', Courier, monospace;
    color:black;
    text-shadow: 2px 2px 5px white;
}

.form{
    width:400px;
    margin-left:35%;
    margin-top: 100px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
}
.form-control{
    border-radius: 10px !important;
}
.btn{
    width:150px;
    border-radius: 10px !important;
    margin-left: 80px;
    background-color:rgba(0, 0, 0, 0.3) !important;
}
.sign_form{
    width:500px;
    margin-left:35%;
    margin-top: 80px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
}
.cr_bt{
    width:154px;
    height:40px;
    border-radius: 10px !important;
    margin-left: 138px;
    background-color:rgba(0, 0, 0, 0.3) !important;
}
.row{
    margin-left: 65px !important;
    margin-right: 120px !important;
    margin-top: 80px;
}
.card{
    width: 180px;
    height: 200px;
    margin-left: 74px;
    margin-top: 30px;
}
.card-img-overlay{
    margin-top: 55px;
    margin-left: -3px;
    color: aliceblue;
}
.card-img{
    width: 180px;
    height: 200px;
}
.sec{
    margin: 60px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.sec-body{
    text-shadow: 2px 2px 5px ;
}
.sec-title{
    text-align: center;
}

.grp{
    
    width: 87%;
    height: fit-content;
   
}
.grp_image{
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 20px; 
    width: 40%;
    height: 340px;
    float: left;
    box-shadow: 10px 10px 5px 5px rgba(0, 0, 0, 0.3);
}
.grp_text{
    border-radius: 20px; 
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    width: 50%;
    float: left;
    margin-top: 30px;
    margin-left: 80px;
    text-align: justify;
}
.grp_row{
    margin-top: 25px;
}


